*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #ddd;

}

main{
  background-color: #eee;
  padding: 18px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  padding: 18px;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 5rem;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn{
  padding: 8px;
  border-radius: 8px;
}
