:root {
  --danger-color: #dc3545;
}

body {
  background-color: #eee;
}

.login-form {
  width: 400px;
}

a {
  text-decoration: none;
}

.brand {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.oneline {
  white-space: nowrap;
}

.transaction .btn-danger {
  opacity: 0;
}
.transaction:hover .btn-danger {
  opacity: 1;
}

.transaction:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: linear-gradient( to left, rgba(0,0,0,.3), rgba(0,0,0,.1), transparent);
  opacity: .3;
  border-radius: 0 5px 5px 0;
  transform: translateX(100%);
  transition: .25s ease;
  opacity: 0;
}

.transaction .button-delete {
  z-index: 2;
  transition: .25s ease;
  transform: translateX(100%);
}

.transaction:hover .button-delete {
  transform: translateX(0);
}

.transaction:hover:after {
  transform: translateX(0);
  opacity: 1;
}
